<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Ciudades</title>

</head>

<body>

    <h1 class="ciud"> Ciudades</h1>

    <!--Codigo de la caja de ciudades-->
        <label for="inputPassword" class="col-sm-2 col-form-label">Ciudad</label>
        <div class="col-sm-10">
          <input type="password" class="cajaCi" id="inputPassword">
        </div>

    <!--Codigo de los botones-->

    <div class="d-grid gap-2 d-md-block">
        <button class="bt1" type="button">Cancelar</button>
        <button class="bt2" type="button">Guardar</button>
      </div>

</body>


</html>