<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style4.css">
    <title>Cargos</title>

</head>

<body>

    <h1 class="car"> Cargos</h1>
    
  <!--Codigo de la caja de cargos-->
  <label for="inputPassword" class="col-sm-2 col-form-label">Nombre del cargo</label>
  <div class="cajCarg">
    <input type="password" class="cajCarg" id="inputPassword">
  </div>

<!--Codigo de los botones-->

<div class="d-grid gap-2 d-md-block">
  <button class="bs1" type="button">Cancelar</button>
  <a href="finPagina.html ">
  <button class="bs2" type="button">Guardar</button>
</a>

</div>


</body>

</html>