<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudades</title>

    <style>
        .ciud { text-align: center;
            border: solid 5px; color: rgb(50, 214, 179);

        }
        .conta{
            margin-left: 30px;
        }
        .cib{
            margin-left: 30px;
            max-height: 60px;
        }
        .btn{
            margin-bottom: 30px;
        }
    </style>
</head>

<body>

    <h1 class="ciud"> Ciudades</h1>
  

        <select class="cib"  aria-label="Large select example">
            <option selected >Ciudades</option>
            <option value="1">Bogotá</option>
            <option value="2">Medellín</option>
            <option value="3">Cartagena</option>
            <option value="4">Cali</option>
            <option value="5">Santa Marta</option>
            <option value="5">Barranquilla</option>
            <option value="6">Villavicencio</option>
            <option value="7">San Gil</option>
            <option value="8">Bucaramanga</option>
          </select> 
          <br>

   

    <a class="btn" href="index.html">Cancelar</a>

</body>

</html>