<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Personas</title>


</head>

<body>



    <div class="container">
        <div class="title"> </div>
        <form action="#">
            <span>Documento</span>
            <select class="form-1" aria-label="Default select example">
                <option selected>Tipo de documento</option>
                <option value="1">CC</option>
                <option value="2">CE</option>
                <option value="3">NI</option>
                <option value="2">RC</option>
                <option value="3">PB</option>
            </select>

            <div class="form-group">
                <span>Número de docuemento</span>
                <input type="number" placeholder="Ingrese documento">
            </div>


            <div class="form-group">
                <span>Nombre</span>
                <input type="text" placeholder="Nombre">
            </div>

            <div class="form-group">
                <span>Apellido</span>
                <input type="text" placeholder="Apellido">
            </div>

            <div class="form-group">
                <span>Dirección</span>
                <input type="text" placeholder="Dirección">
            </div>
            <div class="form-group">
                <span>Telefono</span>
                <input type="number" placeholder="Telefono">
            </div>

            <div class="form-group">
                <span>Fecha</span>
                <input type="date" placeholder="Fecha">
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button class="btny" type="button">Cancelar</button>
                <button class="btnr" type="button">Guardar</button>
              </div>
        </form>
    </div>
   
   
</body>

</html>